<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TodoApp - Django</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<body>
    <div class="myContainer">
        <div class="box">
            <h1>TodoApp</h1>
            <!-- <p class="tagline">a Django todo app</p> -->
            <form action="" method="post">
                {% csrf_token %}
                <!-- csrf token for basic security -->
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="What do you need to do?"
                        name="description" required>
                    <label for="description">Description</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" required name="category_select">
                        <option class="disabled" value="">Choose a category</option>
                        {% for categories in categories %}
                        <option class="" value="{{ categories.name }}" name="{{ categories.name }}">{{ categories.name }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="category">Category</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" required name="date">
                    <label for="dueDate">Due Date</label>
                </div>
                <div class="row">
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add
                        task</button>
                    <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit"
                        onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete
                        Tasks</button>

                    
                    
                </div>
                

                <ul class="taskList">
                    {% for todo in todos %}
                    <!-- django template lang - for loop -->
                    <a href="/{{ todo.id }}">
                    <li class="taskItem">
                        <input type="checkbox" class="taskCheckbox" name="{{ todo.id }}" id="{{ todo.id }}"
                            value="{{ todo.id }}">
                        <label for="{{ todo.id }}"><span class="complete-">{{ todo.description }}</span></label>
                        <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                        <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.dueDate }}</strong>
                    </li>
                </a>
                    {% endfor %}


                </ul><!-- taskList -->
            </form>
            <a href="{% url 'logout' %} "> <button class="taskAdd"> logout
            </button> </a> 
        </div><!-- content -->
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
